{% extends "base.html" %}
{% block title %}Servicios - Sistema Web{% endblock %}
{% block content %}
<div class="row mt-4">
    {% for s in servicios %}
    <div class="col-md-4 mb-4">
        <div class="panel p-4 text-center border rounded shadow-sm" style="background-color: #212529; border-color: #495057 !important;">
            <h4 class="text-info fw-bold">{{ s.nombre }}</h4>
            <p class="text-light mt-3 mb-1"><i class="bi bi-clock"></i> Tiempo aprox: {{ s.tiempo }}</p>
            <h3 class="text-success mt-3">${{ s.precio }}</h3>
            
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('soporte', servicio=s.nombre) }}" class="btn btn-outline-info w-100 mt-3 fw-bold"><i class="bi bi-headset"></i> Solicitar Servicio</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-outline-warning w-100 mt-3 fw-bold"><i class="bi bi-lock"></i> Inicia sesión para solicitar</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}